{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-expand-lg bg-primary nav-fill">
            <div class="nav nav-pills">
                <h2 class="navbar-brand">Wiki</h2>
                <div class="nav-item">
                    <a href="{% url 'encyclopedia:index' %}" class="btn btn-primary nav-link">Home</a>
                </div>
                
                <div class="nav-item">
                    <a href="{% url 'encyclopedia:create' %}" class="btn-primary nav-link">Create New Page</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'encyclopedia:random' %}" class="btn-primary nav-link">Random Page</a>
                </div>
                <form action="{% url 'encyclopedia:search' %}" method="post" class="d-flex nav-item" role="search">
                    {% csrf_token %}
                    <input class="form-control me-2" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
            </div>       
        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>